.button
  // padding: 13px 20px
  border: none
  border-radius: 2px
  text-transform: uppercase
  &--primary
    padding: 13px 20px
    background-color: $primary
    color: $light
  &--outline
    padding: 12px 20px 12px 20px
    border: 1px solid $light
    background-color: transparent
    color: $light
