// @media screen and ( max-width: 1345px )
//   .nav
//     &__item
//       margin-right: 1.5rem

@media screen and ( max-width: 1200px )
  html
    // font-size: 12px
  .nav
    &__item
      margin-right: 1rem
        
@media screen and ( max-width: 992px )
  .nav
    display: none    
  .hero
    &__instagram
      display: none
    &__content
      margin-left: 0
    &__scroll-down
      padding: 25px 60px 25px 38px

@media screen and ( max-width: 576px )
  .contacts
    &__phone
      margin-right: 0 
      color: $light
      text-decoration: none
    &__button
      display: none  
  .title 
    font-size: 2rem
    margin-top: 30px
  .hero
    &__scroll-down
      display: none
    &__content
      max-width: 22.86rem
    &__text
      font-size: 1.29rem
      margin-bottom: 2.28rem
    &__button
      display: block
      min-width: 22.86rem
      margin-bottom: 1.85rem

@media screen and ( max-height: 520px )
  .hero
    &__scroll-down
      display: none 

@media screen and ( max-width: 376px )   
  .container
    display: flex
    flex-direction: columns
    justify-content: space-around
    align-items: center   
   
  .menu
    display: inline-blok    
    
  .logo               
    margin-right: 3.2rem    

  .phone     
    margin-left: 3.2rem    
    
  .title 
    font-size: 2rem
    margin-top: 10px

  .hero    
    &__content      
      max-width: 22rem      
    &__text
      font-size: 1.29rem
      margin-top: 1.5rem
      margin-bottom: 2.28rem
    &__button
      display: block
      min-width: 22rem
      margin-bottom: 1.85rem    

@media screen and ( max-width: 360px )
  .menu
    display: inline-blok    
    
  .logo               
    margin-right: 2.7rem 

  .phone     
    margin-left: 2.7rem 

  .title 
    font-size: 1.9rem
    margin-top: 10px
  .hero    
    &__content
      max-width: 26rem      
    &__text
      font-size: 1.29rem
      margin-top: 1.5rem
      margin-bottom: 2.28rem
    &__button
      display: block
      max-width: 25rem
      margin-right: 0
      margin-bottom: 1.85rem  


@media screen and ( max-width: 344px ) 
  .menu
    display: inline-blok    
    
  .logo               
    margin-right: 2.3rem 
    margin-left: 0rem

  .phone     
    margin-left: 2.3rem

  .title 
    font-size: 1.8rem
    margin-top: 10px
  .hero    
    &__content
      max-width: 22rem
      margin: 0 auto
    &__text
      font-size: 1.29rem
      margin-top: 1.5rem
      margin-bottom: 2.28rem
    &__button
      display: block
      min-width: 22rem
      margin-bottom: 1.85rem 

@media screen and ( max-width: 340px ) 
  .menu
    display: inline-blok    
    
  .logo               
    margin-right: 2.0rem 

  .phone     
    margin-left: 2.0rem 

@media screen and ( max-width: 326px ) 
  .menu
    display: inline-blok    
    
  .logo               
    margin-right: 1.7rem 

  .phone     
    margin-left: 1.7rem 

@media screen and ( max-width: 315px ) 
  .menu
    display: inline-blok    
    
  .logo               
    margin-right: 1.5rem 

  .phone     
    margin-left: 1.5rem             







              

               



  
      


        

  
  