.section-title__heading
  font-size: 20px
  
.section-subtitle__heading 
  display: inline-block
  max-width: 53.57rem
  font-family: 'Futura Book'
  font-style: normal
  font-weight: normal
  font-size: 20px
  line-height: 27px
  text-align: center
  color: #363636
  text-transform: none
