.header
  position: fixed
  left: 0
  top: 0
  width: 100%
  z-index: 99
  background-color: $dark
  padding: 24px 0
  

.menu
  display: flex
  justify-content: space-between
  align-items: center
  &__logo
    font-size: 1rem
    font-family: 'Futura DemiC'
    font-style: normal;
    font-weight: 500;
    line-height: 16px;

.logo
  font-size: 1rem
  color: $primary
  text-transform: uppercase

.nav
  &__item
    text-decoration: none
    color: $light
    text-transform: uppercase
    margin-right: 2.1rem
    font-size: 1rem
    transition: color 0.2s
    &:hover
      color: $primary
.menu_nav
  // font-size: 0.9rem      
   

.contacts
  &__phone
    margin-right: 45px
    font-family: 'Futura DemiC'
    font-weight: 500
    font-size: 1rem
    color: $primary
  &__contacts__phone    
    font-style: normal    
    // font-weight: 500    
    line-height: 16px

// .button--primary 
//   font-family: 'Futura DemiC'
//   font-size: 13px
//   line-height: 15px

