.hero
  position: relative
  display: flex
  flex-direction: column
  justify-content: center
  align-items: flex-start
  padding-top: 100px
  background: $dark url('../img/hero-bg.jpg') no-repeat center/cover
  height: 100vh
  color: $light
  &__content
    max-width: 670px
  &__text
    font-size: 22px
    max-width: 500px
    line-height: 30px;
  &__button
    font-family: 'Futura Demi';    
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    margin-right: 20px    
  &--outline
  // padding: 18px 26px 18px 26px
  padding: 18px 26px 
  &--primary
  padding: 19px 26px 19px 26px

  &__instagram
    position: absolute
    left: 0
    top: 0
    max-width: 80px
    height: 100vh
  &__scroll-down
    position: absolute
    left: 0%
    bottom: 0%       
    padding: 40px 90px 40px 48px
    display: flex
    align-items: center
    justify-content: center    
    font-family: 'Yeseva One';
    background-color: $dark
    text-transform: uppercase
    color: $light
    text-decoration: none

.instagram
  display: flex
  justify-content: center
  align-items: center
  background-color: $dark
  &__link
    font-size: 14px;
    line-height: 16px;
    font-family: 'Futura Demi';
    // display: inline-block
    text-transform: uppercase
    text-decoration: none
    color: $primary
    transform: rotate(90deg)

.title
  margin: 0
  font-family: 'Yeseva One', cursive
  text-transform: uppercase
  font-size: 40px
  font-style: normal;
  font-weight: normal;
  line-height: 53px;
  &--primary
    color: $primary
